:root {
  --black: #e3e3e3;
  --dim-grey: #68686b;
  --text-black: #252526;
  --blue: #3d3dd4;
}

body {
  background-color: var(--black);
  color: #252526;
  font-family: Inter, sans-serif;
  font-size: 1em;
  line-height: 140%;
}

h1 {
  letter-spacing: -.07em;
  text-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10.5vh;
  font-weight: 800;
  line-height: 97%;
}

h2 {
  letter-spacing: -.07em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 9vh;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 500;
  line-height: 110%;
}

h4 {
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 500;
  line-height: 130%;
}

h5 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 120%;
}

h6 {
  color: var(--dim-grey);
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 125%;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

label {
  color: var(--dim-grey);
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 100%;
  display: block;
}

strong {
  font-weight: 600;
}

blockquote {
  letter-spacing: -.02em;
  background-color: #fff;
  border-left: 5px solid #ccc;
  margin-bottom: 10px;
  padding: 40px;
  font-size: 1.4em;
  line-height: 150%;
}

.section {
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section.hero {
  padding-top: 20vh;
  padding-bottom: 0;
}

.section.skills {
  grid-column-gap: 10vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  min-height: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  display: grid;
}

.section.blog {
  grid-column-gap: 0vw;
  grid-row-gap: 10vh;
  grid-template-rows: auto;
  grid-template-columns: 2fr 3fr;
  grid-auto-columns: 1fr;
  padding-top: 30vh;
  display: grid;
}

.section.follow-me {
  min-height: auto;
}

.section.blog-post-page, .section.blog-category-page {
  padding-top: 10vh;
}

.section.project {
  grid-column-gap: 0vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 60% 40%;
  grid-auto-columns: 1fr;
  align-items: start;
  min-height: 80vh;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
}

.hero-heading {
  color: var(--text-black);
  text-shadow: none;
  width: 60vw;
  margin-bottom: 10vh;
  margin-left: 20vw;
  position: relative;
}

.background-scene {
  z-index: -1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
}

.horizontal-line {
  background-color: #bfbfbf;
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.horizontal-line._10-percent {
  top: 10%;
}

.horizontal-line._20-percent {
  top: 20%;
}

.horizontal-line._30-percent {
  top: 30vh;
}

.horizontal-line._40-percent {
  top: 40%;
}

.horizontal-line._50-percent {
  top: 50%;
}

.horizontal-line._60-percent {
  top: 60vh;
}

.horizontal-line._70-percent {
  top: 70%;
}

.horizontal-line._80-percent {
  top: 80%;
}

.horizontal-line._90-percent {
  top: 90%;
}

.vertical-line {
  background-color: #bfbfbf;
  width: 1px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.vertical-line._20-percent {
  left: 20%;
}

.vertical-line._60-percent {
  left: 60%;
}

.vertical-line._40-percent {
  left: 40%;
}

.vertical-line._80-percent {
  left: 80%;
}

.hero-title {
  color: #4a4a4c;
  width: 30vw;
  margin-left: 60vw;
  font-size: 5vh;
  line-height: 100%;
  position: relative;
}

.hero-title.left {
  text-align: right;
  margin-left: 30vw;
}

.bio-history {
  letter-spacing: -.04em;
  width: 30vw;
  min-width: 320px;
  margin-bottom: 0;
  margin-left: 10vw;
  font-size: 1.4em;
  line-height: 170%;
  position: sticky;
  top: 20vh;
}

.bio-image {
  width: 60%;
  margin-top: 50vh;
  display: block;
}

.services-info {
  letter-spacing: -.03em;
  max-width: 320px;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 160%;
}

.skills-item {
  grid-column-gap: 3vh;
  grid-row-gap: 2vh;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.skills-item.fourth {
  margin-top: 10vh;
}

.skills-item.first {
  margin-top: 15vh;
}

.skills-item.third {
  margin-left: -5vw;
}

.container-bio {
  grid-column-gap: 0px;
  grid-row-gap: 20vh;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.projects-heading {
  margin-bottom: 1vh;
  margin-left: 20%;
  font-size: 26vh;
}

.projects-list {
  margin-left: 10%;
  margin-right: 10%;
}

.projects-item {
  grid-column-gap: 0px;
  grid-row-gap: 5vh;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 50vw;
  max-width: 880px;
  margin-bottom: 10vh;
}

.projects-item:nth-child(2n) {
  margin-left: auto;
}

.projects-item:last-child {
  margin-bottom: 0;
}

.clients-logos {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-template-rows: auto;
  grid-template-columns: 15vw 15vw 15vw;
  grid-auto-columns: 15vw;
  display: grid;
}

.clients-logo-image {
  opacity: .6;
  transition: opacity .2s;
}

.clients-logo-image:hover {
  opacity: 1;
}

.projects-item-content {
  padding: 8% 10%;
}

.projects-item-summary {
  color: var(--dim-grey);
  letter-spacing: -.015em;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 150%;
}

.projects-item-meta {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: var(--dim-grey);
  letter-spacing: -.02em;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.project-items-year {
  letter-spacing: -.04em;
  background-color: #68686b1a;
  border-radius: 2px;
  padding: 4px 10px;
  font-weight: 500;
}

.motto-content {
  grid-column-gap: 0px;
  grid-row-gap: 3vh;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: -10vw;
  font-size: 1.2em;
  display: grid;
}

.container-quote {
  background-color: #fff;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.quote-paragraph {
  letter-spacing: -.015em;
  margin-bottom: 10vh;
  font-size: 1.7em;
  font-weight: 500;
  line-height: 135%;
}

.quote-author {
  grid-column-gap: 5vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 10vw auto;
  grid-auto-columns: 1fr;
  margin-left: -5vw;
  display: grid;
}

.quote-author-name {
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  display: grid;
}

.quote-heading {
  margin-left: 20%;
  line-height: 80%;
}

.blog-item-content {
  grid-column-gap: 3vw;
  grid-row-gap: 0vw;
  color: var(--text-black);
  background-color: #fff;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  min-height: 20vh;
  padding: 7vh 5vw 7vh 3vw;
  text-decoration: none;
  transition: color .3s, box-shadow .3s;
  display: grid;
}

.blog-item-content:hover {
  color: var(--blue);
  box-shadow: 0 10px 30px -10px #00000029;
}

.blog-post-link {
  text-decoration: none;
  transition: color .3s;
}

.blog-heading {
  text-align: right;
  padding-right: 5vw;
  line-height: 80%;
  position: sticky;
  top: 20vh;
}

.blog-item {
  grid-column-gap: 0vw;
  grid-row-gap: 0vh;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-bottom: 10vh;
  display: grid;
}

.blog-item:first-child {
  margin-top: 30vh;
}

.blog-item:last-child {
  margin-bottom: 0;
}

.blog-item-image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.blog-item-date {
  color: var(--dim-grey);
}

.services-counter {
  letter-spacing: -.05em;
  margin-left: -.3em;
  font-size: 2.8em;
  font-weight: 900;
  line-height: 100%;
}

.skills-heading {
  margin-bottom: 10vh;
  margin-left: 10vw;
}

.blog-item-meta {
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  color: var(--dim-grey);
  letter-spacing: -.02em;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  padding-top: 2vh;
  line-height: 100%;
  display: grid;
}

.blog-item-icon {
  width: 5vw;
}

.paragraph {
  letter-spacing: -.01em;
  width: 30vw;
  min-width: 400px;
  margin-top: 8px;
  font-size: 1.3em;
  line-height: 160%;
}

.container-motto {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 55vw 25vw;
  grid-auto-columns: 1fr;
  align-items: end;
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
}

.dot-grey, .span-grey {
  color: var(--dim-grey);
}

.container-working-with {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 20vw auto;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: 10vh;
  margin-left: 20%;
  margin-right: 5vw;
  display: grid;
}

.tools-item-about {
  color: var(--dim-grey);
  margin-bottom: 0;
}

.tools-container {
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 2vw;
  padding-right: 2vw;
  display: grid;
}

.tools-item {
  background-color: #fff;
  padding: 3vw 4vw;
}

.tools-item.small {
  grid-column-gap: 2vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 64px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  display: grid;
}

.tools-item.wide {
  grid-column-gap: 2vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 64px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-left: 3vw;
  display: grid;
}

.tools-item.large {
  align-items: center;
  display: flex;
}

.tools-item.tall {
  grid-column-gap: 0px;
  grid-row-gap: 3vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  align-items: start;
  padding-left: 3vw;
  padding-right: 3vw;
  display: grid;
}

.tools-image {
  max-width: 128px;
  margin-bottom: 2vh;
}

.tools-item-content {
  grid-column-gap: 0px;
  grid-row-gap: 1vh;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tools-item-tall {
  grid-column-gap: 2vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 48px auto;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.contact-heading {
  margin-left: 20%;
  font-size: 22vh;
  font-weight: 900;
  line-height: 70%;
}

.contact-form {
  margin-left: 20%;
  margin-right: 20%;
}

.text-field {
  border-top: 0 solid #000;
  border-bottom: 0 solid #0000;
  border-left: 2px solid #0000;
  border-right: 0 solid #000;
  height: 10vh;
  margin-bottom: 0;
  padding: 15px 20px;
  font-size: 3vh;
  transition: box-shadow .3s, border-color .3s;
}

.text-field:hover {
  border-left-color: #9c9ca1;
}

.text-field:focus {
  border-left-color: var(--text-black);
  box-shadow: 0 10px 20px -10px #0003;
}

.text-field.textarea {
  min-height: 20vh;
}

.form {
  grid-column-gap: 0px;
  grid-row-gap: 5vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.submit-button {
  text-transform: lowercase;
  background-color: #222226;
  padding: 20px 35px;
  font-size: 1.4em;
  transition: background-color .3s;
}

.submit-button:hover {
  background-color: #474766;
}

.submit-button:active {
  background-color: var(--text-black);
}

.form-item {
  grid-column-gap: 2vw;
  grid-row-gap: 3vh;
  grid-template-rows: auto;
  grid-template-columns: 18vw 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.follow-me-heading {
  margin-bottom: 10vh;
  margin-left: 20%;
}

.follow-me-item {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  padding: 4% 5%;
  display: grid;
}

.follow-me-item.second {
  margin-left: 10vw;
}

.follow-me-item.third {
  margin-left: 5vw;
  margin-right: 5vw;
}

.follow-me-item.first {
  margin-right: 10vw;
}

.follow-link {
  color: var(--dim-grey);
  letter-spacing: -.02em;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  transition: color .2s;
}

.follow-link:hover {
  color: var(--blue);
}

.follow-counter {
  font-size: 1.5em;
  line-height: 100%;
}

.contact-link {
  color: var(--dim-grey);
  letter-spacing: -.02em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  transition: color .2s;
}

.contact-link:hover {
  color: var(--blue);
}

.follow-me-socials {
  grid-column-gap: 0px;
  grid-row-gap: 2vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 10vh;
  margin-left: 30%;
  margin-right: 20%;
  display: grid;
}

.contact-container {
  grid-column-gap: 0px;
  grid-row-gap: 3vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 20vh;
  margin-left: 60%;
  display: grid;
}

.contact-form-heading {
  letter-spacing: -.04em;
  margin-bottom: 3vh;
  margin-left: 40%;
  font-size: 2.8em;
  font-weight: 900;
}

.footer {
  grid-column-gap: 10vw;
  grid-row-gap: 16px;
  border-top: 1px dashed #f0dbd5;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  font-size: .9em;
}

.footer-links {
  margin-bottom: 1vh;
  display: flex;
}

.footer-link {
  color: #000;
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link.margin-right {
  margin-right: 20px;
}

.style-guide-section {
  padding: 10vh 7vw;
}

.spacer {
  height: 30px;
}

.rich-text-block {
  font-size: 1.1em;
}

.rich-text-block p {
  letter-spacing: -.01em;
  margin-bottom: 30px;
  font-size: 1.1em;
  line-height: 150%;
}

.rich-text-block h1 {
  margin-bottom: 15px;
  font-size: 3em;
}

.rich-text-block h2 {
  margin-bottom: 15px;
  font-size: 2.7em;
}

.rich-text-block h3 {
  margin-bottom: 15px;
  font-size: 2.3em;
}

.rich-text-block h4 {
  margin-bottom: 15px;
}

.rich-text-block h5, .rich-text-block h6 {
  margin-bottom: 10px;
}

.rich-text-block.in-blog-post {
  background-color: #fff;
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 20vh 10vw 15vh;
}

.rich-text-block.in-project-page {
  background-color: #fff;
  max-width: 640px;
  margin-bottom: 10vh;
  margin-left: 20vw;
  padding: 6vh 4vw 5vh;
}

.mosaic-item {
  filter: grayscale(65%);
  transition: filter .3s;
  position: relative;
  overflow: hidden;
}

.mosaic-item:hover {
  filter: grayscale(0%);
}

.style-guide-container {
  border-bottom: 2px solid #e2e2e2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tools-heading-copy {
  line-height: 90%;
}

.background-circle {
  background-color: #e3e3e3;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  width: 90vh;
  height: 90vh;
  position: absolute;
}

.success-message {
  text-align: left;
  letter-spacing: -.025em;
  background-color: #fff;
  padding-left: 10%;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 140%;
}

.error-message {
  color: #ffe7e7;
  background-color: #ff3131;
  margin-left: 33.33%;
  padding: 15px 20px;
  font-size: 1.3em;
  line-height: 140%;
}

.blog-post-heading {
  background-color: var(--black);
  letter-spacing: -.05em;
  margin-bottom: 5vh;
  margin-left: -10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 7vh;
  line-height: 110%;
  position: relative;
}

.header-logo {
  grid-column-gap: 2vw;
  grid-row-gap: 16px;
  color: var(--dim-grey);
  letter-spacing: -.04em;
  grid-template-rows: auto;
  grid-template-columns: 10vh 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  margin-bottom: 10vh;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 100%;
  display: grid;
}

.blog-category-link {
  color: #6b6b88;
  font-size: 1.25em;
  font-weight: 600;
}

.blog-post-container {
  grid-column-gap: 5vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 53vw 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-bottom: 15vh;
  margin-left: 7vw;
  margin-right: 8vw;
  display: grid;
}

.blog-post-name-wrap {
  padding-top: 10vh;
}

.blog-post-meta {
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 48px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.category-page-title {
  grid-column-gap: 3vw;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 10vh 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: 10vh;
  margin-left: 20vw;
  display: grid;
}

.collection-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: 20vw;
  margin-right: 10vw;
  display: grid;
}

.blog-category-item {
  grid-column-gap: 0vw;
  grid-row-gap: 0vh;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-bottom: 10vh;
  display: grid;
}

.blog-category-item:last-child {
  margin-bottom: 0;
}

.blog-category-item-content {
  grid-column-gap: 0px;
  grid-row-gap: 2vh;
  color: var(--text-black);
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 10%;
  transition: color .3s;
  display: grid;
}

.blog-category-item-content:hover {
  color: var(--blue);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.project-item-link {
  color: var(--text-black);
}

.project-page-heading {
  margin-bottom: 0;
  margin-left: 7vw;
  font-size: 9vh;
  display: inline-block;
}

.project-page-description {
  letter-spacing: -.01em;
  max-width: 640px;
  margin-bottom: 0;
  margin-left: 7vw;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 140%;
}

.project-content {
  min-height: 80vh;
  margin-bottom: 0;
  padding-top: 10vh;
  padding-right: 5vw;
  line-height: 120%;
}

.project-image-wrap {
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  line-height: 120%;
  display: flex;
}

.project-page-meta {
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  min-height: 10vh;
  margin-left: 7vw;
  font-size: .9em;
  display: grid;
}

.project-gallery {
  column-count: 2;
  column-rule-style: none;
  column-rule-width: 0px;
  column-gap: 0;
  margin-left: auto;
  margin-right: auto;
}

.blog-item-category {
  font-weight: 500;
}

.project-page-logo {
  max-width: 10vw;
  margin-left: 7vw;
}

.buy-link {
  color: #555;
  letter-spacing: -.03em;
  border-bottom: 1px solid #ffc2c2;
  font-size: .8em;
  font-style: italic;
  font-weight: 300;
  position: absolute;
  top: 5%;
  right: 5%;
}

.buy-link:hover {
  color: #2f00ff;
  border-bottom-color: #ffc2c200;
}

@media screen and (max-width: 991px) {
  h3 {
    font-size: 2.3em;
  }

  h4 {
    font-size: 1.8em;
  }

  .section.skills {
    grid-column-gap: 5vw;
  }

  .bio-history {
    min-width: auto;
    font-size: 1.3em;
  }

  .bio-image {
    width: 40vw;
  }

  .services-info {
    font-size: 1em;
    font-weight: 500;
  }

  .skills-item {
    grid-row-gap: 3vh;
    grid-template-rows: 54px auto;
  }

  .projects-heading {
    font-size: 20vh;
  }

  .projects-item-summary {
    font-size: 1.1em;
  }

  .quote-paragraph {
    font-size: 1.5em;
  }

  .contact-heading {
    font-size: 15vh;
  }

  .contact-form-heading {
    font-size: 2.4em;
  }

  .rich-text-block.in-blog-post {
    padding: 10vh 5vw;
  }

  .rich-text-block.in-project-page {
    margin-left: 10vw;
    padding-right: 10vw;
  }

  .blog-post-heading {
    font-size: 2.5em;
  }

  .project-page-heading {
    font-size: 7vh;
  }

  .project-page-description {
    font-size: 1.5em;
  }

  .project-image {
    height: 40vh;
  }

  .project-content {
    margin-bottom: 10vh;
  }

  .project-gallery {
    column-count: 1;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    text-shadow: none;
    font-size: 7vh;
  }

  .section {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .section.skills {
    grid-row-gap: 10vh;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .section.blog {
    grid-template-columns: 1fr;
    padding-top: 10vh;
  }

  .section.blog-post-page {
    padding-top: 5vh;
  }

  .hero-title {
    font-size: 4vh;
  }

  .bio-history {
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    position: static;
  }

  .bio-image {
    margin-top: 0;
    margin-left: 10vw;
  }

  .services-info {
    max-width: 400px;
  }

  .skills-item {
    grid-column-gap: 0vw;
    grid-template-rows: auto;
    grid-template-columns: 54px 1fr;
    grid-auto-flow: row;
  }

  .skills-item.fourth, .skills-item.first {
    margin-top: 0;
  }

  .skills-item.third {
    margin-top: 0;
    margin-left: 0;
  }

  .container-bio {
    grid-row-gap: 5vh;
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
  }

  .projects-heading {
    font-size: 12vh;
  }

  .motto-content {
    margin-left: 0;
  }

  .container-quote {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 10vh;
  }

  .quote-author {
    grid-template-columns: 15vw auto;
  }

  .quote-heading {
    margin-left: 10vw;
  }

  .blog-item-content {
    grid-row-gap: 5vh;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    padding-left: 10vw;
    padding-right: 8vw;
  }

  .blog-heading {
    text-align: left;
    margin-left: 10vw;
    position: static;
  }

  .blog-item {
    margin-bottom: 5vh;
  }

  .blog-item:first-child {
    margin-top: 0;
  }

  .blog-item:last-child, .skills-heading {
    margin-bottom: 0;
  }

  .blog-item-icon {
    width: 10vw;
  }

  .paragraph {
    margin-bottom: 10vh;
    margin-left: 10vw;
  }

  .container-motto {
    grid-row-gap: 5vh;
    grid-template-columns: 1fr;
  }

  .tools-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .tools-item {
    padding: 10%;
  }

  .tools-item.small {
    padding-left: 10%;
    padding-right: 10%;
  }

  .tools-item.wide {
    padding-left: 10%;
  }

  .tools-item.tall {
    padding-left: 10%;
    padding-right: 10%;
  }

  .contact-heading {
    margin-left: 10%;
    font-size: 5em;
  }

  .contact-form {
    margin-left: 10%;
    margin-right: 10%;
  }

  .text-field {
    height: 8vh;
  }

  .follow-me-socials {
    margin-left: 10%;
    margin-right: 10%;
  }

  .contact-container {
    margin-bottom: 10vh;
    margin-left: 50%;
  }

  .contact-form-heading {
    font-size: 2em;
  }

  .rich-text-block.in-blog-post {
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .rich-text-block.in-project-page {
    margin-left: 7vw;
  }

  .blog-post-heading {
    background-color: #0000;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 2em;
  }

  .header-logo {
    grid-template-columns: 8vw 1fr;
    margin-bottom: 5vh;
    margin-left: 7vw;
  }

  .blog-post-container {
    grid-row-gap: 5vh;
    grid-template-columns: 1fr;
    margin-bottom: 5vh;
  }

  .category-page-title, .collection-list {
    margin-left: 7vw;
  }

  .blog-category-item {
    margin-bottom: 5vh;
  }

  .blog-category-item:first-child {
    margin-top: 0;
  }

  .blog-category-item:last-child {
    margin-bottom: 0;
  }

  .project-page-heading {
    margin-bottom: 4vh;
  }

  .project-page-description {
    font-size: 1.2em;
  }

  .project-page-meta {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;
  }

  .project-page-logo {
    max-width: 20vw;
  }
}

@media screen and (max-width: 479px) {
  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.1em;
    line-height: 110%;
  }

  h6 {
    font-size: .9em;
    line-height: 110%;
  }

  .section.hero {
    padding-top: 25vh;
  }

  .section.skills, .section.blog {
    grid-row-gap: 5vh;
  }

  .section.client-says {
    min-height: auto;
  }

  .section.project {
    grid-template-columns: 1fr;
  }

  .hero-heading {
    margin-bottom: 5vh;
    margin-left: 10vw;
  }

  .bio-image {
    width: 60vw;
  }

  .projects-heading {
    margin-left: 10%;
    font-size: 3em;
  }

  .projects-item {
    width: 100%;
    margin-bottom: 5vh;
  }

  .clients-logos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .container-quote {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vh;
  }

  .quote-paragraph {
    margin-bottom: 5vh;
    font-size: 1.2em;
  }

  .quote-heading {
    font-size: 3em;
  }

  .blog-item-content {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .blog-heading {
    font-size: 3em;
  }

  .blog-item {
    grid-template-columns: 1fr;
    margin-bottom: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .blog-item:first-child {
    margin-top: 0;
  }

  .blog-item-image {
    height: 30vh;
  }

  .skills-heading {
    font-size: 3em;
  }

  .blog-item-icon {
    width: 15vw;
  }

  .paragraph {
    width: 80%;
    min-width: auto;
  }

  .container-working-with {
    margin-bottom: 5vh;
    margin-left: 10%;
    font-size: .9em;
  }

  .tools-item.small, .tools-item.wide {
    grid-column-gap: 5vw;
  }

  .tools-item.large {
    background-color: #0000;
  }

  .contact-heading {
    margin-bottom: 6vh;
    margin-left: 10%;
    font-size: 3em;
  }

  .contact-form {
    margin-left: 10%;
    margin-right: 10%;
  }

  .text-field {
    font-size: 1em;
  }

  .form {
    grid-row-gap: 3vh;
  }

  .form-item {
    grid-row-gap: 1vh;
    grid-template-columns: 1fr;
  }

  .follow-me-heading {
    margin-bottom: 5vh;
    margin-left: 10%;
    font-size: 3em;
  }

  .follow-me-item.second {
    margin-left: 0;
  }

  .follow-me-item.third {
    margin-left: 0;
    margin-right: 0;
  }

  .follow-me-item.first {
    margin-right: 0;
  }

  .follow-link, .follow-counter {
    font-size: 1.2em;
  }

  .contact-link {
    font-size: 1.3em;
  }

  .follow-me-socials {
    margin-left: 10%;
  }

  .contact-container {
    grid-row-gap: 2vh;
    margin-left: 20%;
  }

  .contact-form-heading {
    margin-left: 10%;
  }

  .style-guide-section {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .rich-text-block.in-blog-post {
    margin-left: 0;
    margin-right: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 7vw;
  }

  .rich-text-block.in-project-page {
    margin-left: 0;
    padding-left: 7vw;
  }

  .style-guide-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tools-heading-copy {
    font-size: 3em;
  }

  .background-circle {
    width: 90vw;
    height: 90vw;
  }

  .blog-post-heading {
    margin-bottom: 3vh;
  }

  .header-logo {
    grid-column-gap: 4vw;
    grid-template-columns: 10vw 1fr;
  }

  .blog-post-container {
    min-height: 65vh;
  }

  .blog-post-name-wrap {
    padding-top: 0;
  }

  .blog-category-item {
    grid-template-columns: 1fr;
  }

  .blog-category-item:first-child {
    margin-top: 0;
  }

  .project-page-heading {
    font-size: 2.5em;
  }

  .project-image {
    height: 20vh;
  }

  .project-content {
    min-height: auto;
    padding-right: 7vw;
  }

  .project-image-wrap {
    min-height: auto;
    padding-left: 20vw;
  }

  .project-page-meta {
    margin-bottom: 2vh;
    margin-left: 20vw;
    font-size: 1em;
  }

  .project-gallery {
    column-count: 2;
  }

  .project-page-logo {
    max-width: 33vw;
  }

  .header-logo-wrap {
    grid-template-columns: 13vw 1fr;
  }

  .buy-link {
    position: absolute;
    top: 4%;
    right: 8%;
  }

  .buy-link.hide {
    display: none;
  }
}

#w-node-_70190d14-5087-73ad-acbe-e7b3216a9656-ebb01297 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_3c69a676-19ca-49cd-44df-9ea217a0bb5f-ebb01297 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-_21cc287e-fb45-2fa6-c0fa-2230060faac9-ebb01297 {
  justify-self: center;
}

#w-node-ad1f5906-72e5-724c-0962-c1cc8b424072-ebb01297 {
  justify-self: end;
}

#w-node-_6eb8abcf-6b34-0b1f-3cf1-d343f0fb1cf6-ebb01297 {
  align-self: start;
}

#w-node-c0a3b8e3-d58b-0272-dd10-b15cb41efd22-ebb01297 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_3fd12fe0-4f47-0033-b6d0-76d015e2607e-ebb01297 {
  grid-area: span 3 / span 2 / span 3 / span 2;
}

#w-node-_5f3da791-adeb-c853-0a92-fd1172e11162-ebb01297 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e8938d13-b15e-e426-a9bd-a39c2ae4e4ae-ebb01297 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_6a6a9f1c-8c3a-4ac2-75da-8f390ab86ab9-ebb01297 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3a0f6452-e413-cc63-e5d8-73c07f73fa92-ebb01297 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_2f4a0f49-5a97-9656-fa88-9312acdf3a18-ebb01297 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1fd18bf3-03ea-775f-4008-2701158734a5-ebb01297 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_8ed8a75f-1a89-d63d-60b8-a9954f38d817-ebb01297, #w-node-_8ed8a75f-1a89-d63d-60b8-a9954f38d81a-ebb01297 {
  justify-self: end;
}

#w-node-_677b1bdf-77a8-4610-0438-849123e2dda4-ebb01297 {
  align-self: center;
}

#w-node-ee6e9bac-ba6e-1906-038a-2012b7cd67aa-ebb01297 {
  justify-self: end;
}

#w-node-_8ed8a75f-1a89-d63d-60b8-a9954f38d81d-ebb01297 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-c717bde6-285a-b989-2e83-b1fa0dcfebd8-0dcfebd7 {
  justify-self: end;
}

@media screen and (max-width: 767px) {
  #w-node-_106eea5c-4678-f3f0-4fe4-d1ad1d9849cf-ebb01297 {
    grid-column: span 1 / span 1;
  }

  #w-node-_5c16e1d0-dfd5-1a04-6fea-8cc45e50567f-ebb01297 {
    order: -9999;
    grid-column: span 1 / span 1;
  }

  #w-node-_70190d14-5087-73ad-acbe-e7b3216a9656-ebb01297 {
    grid-column: span 1 / span 1;
    justify-self: start;
  }

  #w-node-_3c69a676-19ca-49cd-44df-9ea217a0bb5f-ebb01297 {
    grid-column: span 1 / span 1;
    justify-self: center;
  }

  #w-node-c0a3b8e3-d58b-0272-dd10-b15cb41efd22-ebb01297 {
    grid-row: span 1 / span 1;
  }

  #w-node-_3fd12fe0-4f47-0033-b6d0-76d015e2607e-ebb01297 {
    order: -9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-e8938d13-b15e-e426-a9bd-a39c2ae4e4ae-ebb01297, #w-node-_3a0f6452-e413-cc63-e5d8-73c07f73fa92-ebb01297 {
    grid-row: span 1 / span 1;
  }

  #w-node-_1fd18bf3-03ea-775f-4008-2701158734a5-ebb01297 {
    grid-column: span 1 / span 1;
  }

  #w-node-_3d450ec3-3b42-7530-90a2-4752c5551e2d-ebb0129d {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cfb3e5dc-5c64-5b40-d4a1-307d11c10508-ebb01297 {
    order: -9999;
  }

  #w-node-_8ed8a75f-1a89-d63d-60b8-a9954f38d817-ebb01297, #w-node-_8ed8a75f-1a89-d63d-60b8-a9954f38d81a-ebb01297, #w-node-ee6e9bac-ba6e-1906-038a-2012b7cd67aa-ebb01297 {
    justify-self: start;
  }

  #w-node-_8ed8a75f-1a89-d63d-60b8-a9954f38d81d-ebb01297 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-dc6017e6-8a1a-18ff-f15b-4260b9a22ab4-ebb0129b {
    order: -9999;
  }

  #w-node-_3d450ec3-3b42-7530-90a2-4752c5551e2d-ebb0129d {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_41687c49-5390-44ea-49b1-7fc45fb6b254-ebb0129d {
    order: -9999;
  }
}


